.watermark {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .watermark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/1.png');
    opacity: 1; /* Ajuste a opacidade conforme necessário */
    z-index: 99; /* Coloca a marca d'água atrás do conteúdo da div */
  }