* {
    -webkit-touch-callout: none;
    /* desabilita o menu do link de imagem */
    -webkit-user-select: none;
    /* desabilita a seleção de texto */
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    text-decoration: none;
    list-style-type: none;
}

img {
    position: relative;
}



html,
body {
    width: 100%;

    margin: 0;
}



.body {
    background-color: rgba(128, 128, 128, 0.192);

}

.menu {
    background-color: rgb(5, 5, 5);
}

.margin-botom {
    margin-bottom: 30px;
}



.coreografias {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

}

.link {
    text-decoration: none;
}

.card_coreografias {
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    padding: 0;
}

.img-card {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card_titulo {

    text-align: center;
}

.nome_pasta {
    text-decoration: none;
    color: black;
    font-weight: bold;

}


.footer {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.link_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
}

.titulo_footer {
    margin-top: 0.5rem;
    color: white;
    margin-left: 1rem;
}

.link-footer {
    color: white;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.img {
    width: 100%;
    margin-bottom: 2px;
}

.ocultar-menu {
    display: none;
}

.menu-nav {
    margin-bottom: 60px;
}



@media screen and (max-width:900px) {


    .img {
        width: 100%;
        height: 370px;
        margin-bottom: 2px;
    }

}

@media screen and (max-width:1000px) {


    .img {
        width: 100%;
        height: 300px;
        margin-bottom: 2px;
    }


}







/* .marca_dagua {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 110%;
    top:-3%;
    opacity: 0.5;
    /* display: none; */



*/ .nome_img {
    position: absolute;
    color: rgb(248, 248, 248);
    background-color: black;
    z-index: 999;
}

.label_img {
    z-index: 999;
}


.checkbox {
    position: absolute;
    z-index: 999;
}

.checkbox_img {
    position: absolute;
    z-index: 999;
}


.botao_enviar {
    z-index: 999;
    width: 100px;
}

img {
    max-width: 100%;
    height: auto;

}


.marcar_dagua {
    opacity: 0.5;
}


.lista-img {
    position: relative;
}

.marca-dagua {
    position: absolute;
    /* Define a posição do texto como absoluta */
    top: 50%;
    /* Define a posição vertical como 50% (centro) */
    left: 50%;
    /* Define a posição horizontal como 50% (centro) */
    transform: translate(-50%, -50%);
    /* Centraliza o texto no centro da imagem */
    /* z-index: 90; */
    /* Define a ordem de empilhamento do texto como 1 (acima da imagem) */
    color: #fff;
    /* Define a cor do texto como branco */
}


.total_pedido {
    font-weight: bold;
    font-size: 18px;
}

.tabela-precos {
    display: none;
    -webkit-animation: animate-tabela 2s;
}

@-webkit-keyframes animate-tabela {
    from {
        opacity: 0;
        margin-top: -150px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

#carrinho li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: bold;
}

.btnCarrinho {
    width: 30%;
    height: 40%;
}


.button_carrinho {

    background-color: #FFE100;
    border-radius: 100%;
    border: none;
    padding: 10px;
}

/* .carrinho_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    z-index: 99999999;
} */

.cart_navbar-toggler {
    display: none;
}

.cart_navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 5rem;
    top: 0;
    left: -250px;
    width: 350px;
    height: 95%;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.cart_navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.cart_nav-item {
    margin: 10px 0;
}

.cart_nav-link {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.cart_nav-link:hover {
    background-color: #555;
}

@media screen and (max-width: 768px) {
    .cart_navbar-toggler {
        display: block;
        cursor: pointer;
        position: fixed;
        left: 83%;
        top: 88%;
        z-index: 1;
    }

    .cart_navbar {
        top: 100%;
        left: 100%;
    }

    .cart_navbar.active {
        top: 0;
        left: 15%;
    }
}